Repository cphyc/halo-viewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, node -e "JSON.parse(require('fs').readFileSync(process.argv[1]))" --

Format all files with prettier and remove trailing whitespace
  README.md
  eslint.config.js
  index.html
  package-lock.json
  public/.jupyterlite.doit.db
  public/manifest.json
  public/vite.svg
  src/App.tsx
  src/api.ts
  src/assets/react.svg
  src/components/CutoutRunner.tsx
  src/components/HaloCatalogExample.tsx
  src/components/HaloCatalogPointCloud.tsx
  src/components/InfoRow.tsx
  src/components/PointCloud3D.tsx
  src/components/SpectrumCanvas.tsx
  src/components/SpectrumChartjs.tsx
  src/components/SpectrumPyodide.tsx
  src/main.tsx
  src/pyodide/pyWorker.ts
  src/styles.css
  src/types.ts
  tsconfig.json
  tsconfig.tsbuildinfo
  vite.config.ts
Due: prettier --write, node -e "JSON.parse(require('fs').readFileSync(process.argv[1]))" --

Add public folder to gitignore
  .gitignore
Due: none

Refactor halo data handling and improve error messaging in Pyodide worker
  src/App.tsx
  src/api.ts
  src/pyodide/pyWorker.ts
  src/types.ts
Due: prettier --write

Add script to convert all halo spectra to per-halo files with JSON output
  public/all_spectra_to_per_halo.py
Due: none

Fixing spectrum loading
  public/all_spectra_to_per_halo.py
  src/App.tsx
  src/api.ts
  src/components/HaloCatalogExample.tsx
  src/components/HaloCatalogPointCloud.tsx
  src/types.ts
Due: prettier --write

Add submodule
  .gitmodules
Due: none

Add quadtree viewer
  src/App.tsx
  src/components/CutoutRunner.tsx
  src/components/QuadtreeViewer.tsx
  src/pyodide/pyWorker.ts
Due: prettier --write

Add interactive renderer
  src/App.tsx
  src/components/CutoutRunner.tsx
  src/components/QuadtreeViewer.tsx
  src/pyodide/pyWorker.ts
  src/types.ts
Due: prettier --write

Refactor CutoutRunner and QuadtreeViewer components for improved loading and rendering logic
  src/components/CutoutRunner.tsx
  src/components/QuadtreeViewer.tsx
Due: prettier --write

Add cmap selector
  src/components/QuadtreeViewer.tsx
Due: prettier --write

Refactor CutoutRunner and QuadtreeViewer components to improve data handling and rendering; update pyWorker for enhanced quad mesh plotting
  src/App.tsx
  src/components/CutoutRunner.tsx
  src/components/QuadtreeViewer.tsx
  src/pyodide/pyWorker.ts
  tsconfig.tsbuildinfo
Due: prettier --write

Number -> number
  src/components/CutoutRunner.tsx
  src/components/QuadtreeViewer.tsx
  src/pyodide/pyWorker.ts
Due: prettier --write

Remove tsconfig.tsbuildinfo
  tsconfig.tsbuildinfo
Due: none

Use submodule from my own fork
  .gitmodules
Due: none

Remove stuff specific to spectra
  public/resources.json
  public/resources.schema.json
  src/App.tsx
  src/api.ts
  src/components/CutoutRunner.tsx
  src/components/SpectrumCanvas.tsx
  src/components/SpectrumChartjs.tsx
  src/components/SpectrumPyodide.tsx
  src/pyodide/pyWorker.ts
  src/types.ts
Due: prettier --write, node -e "JSON.parse(require('fs').readFileSync(process.argv[1]))" --

Make interactivity better with cutout viewer
  src/components/CutoutRunner.tsx
  src/pyodide/pyWorker.ts
  tsconfig.tsbuildinfo
Due: prettier --write

Create blacklist
  src/components/CutoutRunner.tsx
  src/pyodide/pyWorker.ts
Due: prettier --write

Allow selecting slice/projection/density-weighted projection
  src/components/CutoutRunner.tsx
  src/pyodide/pyWorker.ts
Due: prettier --write

Add chemistry derived fields
  src/pyodide/pyWorker.ts
Due: prettier --write

Only allow bundles for 1D datasets
  public/resources.json
  public/resources.schema.json
Due: prettier --write, node -e "JSON.parse(require('fs').readFileSync(process.argv[1]))" --

Validate schema
  package-lock.json
  package.json
  public/resources.json
  public/resources.schema.json
  src/api.ts
  src/components/DynamicResourceCard.tsx
  src/types.ts
  tsconfig.tsbuildinfo
Due: prettier --write, node -e "JSON.parse(require('fs').readFileSync(process.argv[1]))" --

Bundle pyodide directly
  package-lock.json
  package.json
  src/components/CutoutRunner.tsx
  src/pyodide/pyWorker.ts
  vite.config.ts
Due: prettier --write, node -e "JSON.parse(require('fs').readFileSync(process.argv[1]))" --

Add metadata resources and rename bundle->bucket
  public/resources.json
  public/resources.schema.json
  src/api.ts
  src/components/DynamicResourceCard.tsx
  src/types.ts
Due: prettier --write, node -e "JSON.parse(require('fs').readFileSync(process.argv[1]))" --

Add validation infos
  VALIDATION.md
  public/resources.json
  public/resources.schema.json
  src/pyodide/pyWorker.ts
  src/validation.ts
Due: prettier --write, node -e "JSON.parse(require('fs').readFileSync(process.argv[1]))" --

Update to Py313
  src/components/CutoutRunner.tsx
  src/pyodide/pyWorker.ts
  vite.config.ts
Due: prettier --write

Adapt from catalogues from Anatole
  src/App.tsx
  src/api.ts
  src/components/HaloCatalogPointCloud.tsx
  src/types.ts
Due: prettier --write

Update gitignore
  .gitignore
Due: none

Add Pyodide setup instructions and update loading method in pyWorker
  README.md
  src/pyodide/pyWorker.ts
Due: prettier --write

Refactor halo data fetching functions to include simulationId and outputId parameters
  src/App.tsx
  src/api.ts
  src/components/HaloCatalogExample.tsx
  src/components/HaloCatalogPointCloud.tsx
Due: prettier --write

Include wheels for few packages
  src/components/CutoutRunner.tsx
Due: prettier --write

Allow switching simulation
  src/App.tsx
  src/api.ts
  src/components/HaloCatalogExample.tsx
Due: prettier --write

refactor so that we describe resources and a structure
  public/resources.json
  public/resources.schema.json
  src/App.tsx
  src/api.ts
  src/components/DynamicResourceCard.tsx
  src/components/ResourceLevel.tsx
  src/components/SelectionPanel.tsx
  src/hooks/useHierarchicalSelection.ts
  src/parsers/ascii/rockstarCatalogue.ts
  src/parsers/index.ts
  src/parsers/json.ts
  src/parsers/registry.ts
  src/parsers/types.ts
  src/types.ts
  src/utils/resourceFilters.ts
  src/validation.ts
  tsconfig.tsbuildinfo
Due: prettier --write, node -e "JSON.parse(require('fs').readFileSync(process.argv[1]))" --

Display halo list as table
  package-lock.json
  package.json
  public/resources.json
  public/resources.schema.json
  src/components/DataTable.tsx
  src/components/SelectionPanel.tsx
  src/components/TableResourceCard.tsx
  src/components/TableSelector.tsx
  src/types.ts
  src/utils/renderLatex.ts
  tsconfig.tsbuildinfo
Due: prettier --write, node -e "JSON.parse(require('fs').readFileSync(process.argv[1]))" --

Add LaTeX support in table column headers
  public/resources.json
  src/components/DataTable.tsx
  src/utils/renderLatex.ts
Due: prettier --write, node -e "JSON.parse(require('fs').readFileSync(process.argv[1]))" --

Add URL persistence for structure selections
  src/hooks/useHierarchicalSelection.ts
  src/hooks/useUrlState.ts
Due: prettier --write

Add sorting option for table
  src/components/TableSelector.tsx
  tsconfig.tsbuildinfo
Due: prettier --write

Switch to using AG-table
  package-lock.json
  package.json
  src/components/DataTable-AG.tsx
  src/components/DataTable.tsx
  src/components/TableResourceCard.tsx
  src/components/TableSelector.tsx
  tsconfig.tsbuildinfo
Due: prettier --write, node -e "JSON.parse(require('fs').readFileSync(process.argv[1]))" --

Path conditions:
  prettier --write: (any of: *.{js,ts,jsx,tsx,html,css}) or (any of: *.json)
  node -e "JSON.parse(require('fs').readFileSync(process.argv[1]))" --: any of: *.json
